/*
Copyright 2026 LESP-book

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.root {
    display: grid;
    gap: var(--cpd-space-2x);
    min-width: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--cpd-space-2x);
    color: var(--cpd-color-text-secondary);
    font: var(--cpd-font-body-sm-regular);
}

.footer button {
    flex-shrink: 0;
}
