/*
 * Copyright 2026 Element Creations Ltd.
 *
 * SPDX-License-Identifier: AGPL-3.0-only OR GPL-3.0-only OR LicenseRef-Element-Commercial
 * Please see LICENSE files in the repository root for full details.
 */

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    margin-inline: -6px;
    position: relative;
    z-index: 1002;
    isolation: isolate;
    /* Necessary to avoid weird focus outlines (doubled on one side, absent on one side etc...) */
    outline-offset: -2px;

    svg {
        opacity: 0;
        pointer-events: none;
    }
}

.separator[data-separator="hover"],
.separator[data-separator="active"],
.separator:focus-visible {
    background: var(--cpd-color-bg-action-tertiary-hovered);
}

.separator[data-separator="hover"] svg,
.separator[data-separator="active"] svg,
.separator:focus-visible svg,
.visible svg {
    opacity: 1;
}

.visible {
    width: 12px;
    border-right: 1px solid var(--cpd-color-bg-subtle-primary);
}
